<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>{{title}}</h1>
            <a href="#">Fechar</a>
        </div>

        <form action="/results">
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Pesquise a cidade">
                <button>
                    <img src="assets/search.svg" alt="Botão de busca">
                </button>
            </div>
            
        </form>
    </div>
</div>